# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
ENV/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# Ambientes e Variáveis de Ambiente
.env
.env.*

# macOS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json

# Pacote ZIP bruto completo (não subir o arquivo de 64MB)
2026.zip
*.zip
